schemas/skltp-schemas/schemas/sokvagval-info-v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SokVagvalsServiceSoap11LitDocService" targetNamespace="urn:skl:tp:vagvalsinfo:v2"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:skl:tp:vagvalsinfo:v2"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:skl:tp:vagvalsinfo:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="virtualiseringsInfo" type="tns:virtualiseringsInfoType"/>
            <xs:complexType name="hamtaAllaAnropsBehorigheterResponseType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="anropsBehorighetsInfo" type="tns:anropsBehorighetsInfoType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="anropsBehorighetsInfoType">
                <xs:sequence>
                    <xs:element name="anropsBehorighetsInfoId" type="tns:anropsBehorighetsInfoIdType"/>
                    <xs:element name="receiverId" type="xs:string"/>
                    <xs:element name="senderId" type="xs:string"/>
                    <xs:element name="tjansteKontrakt" type="xs:NCName"/>
                    <xs:element name="fromTidpunkt" type="xs:dateTime"/>
                    <xs:element name="tomTidpunkt" type="xs:dateTime"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="filterInfo" nillable="true" type="tns:filterInfoType"/>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="anropsBehorighetsInfoIdType">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:complexType name="filterInfoType">
                <xs:sequence>
                    <xs:element name="serviceDomain" type="xs:anyURI"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="categorization" nillable="true" type="xs:string"/>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="virtualiseringsInfoType">
                <xs:sequence>
                    <xs:element name="virtualiseringsInfoId" type="tns:virtualiseringsInfoIdType"/>
                    <xs:element name="receiverId" type="xs:string"/>
                    <xs:element name="rivProfil" type="xs:NCName"/>
                    <xs:element name="tjansteKontrakt" type="xs:NCName"/>
                    <xs:element name="fromTidpunkt" type="xs:dateTime"/>
                    <xs:element name="tomTidpunkt" type="xs:dateTime"/>
                    <xs:element name="adress" type="xs:string"/>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="virtualiseringsInfoIdType">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:complexType name="hamtaAllaVirtualiseringarResponseType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="virtualiseringsInfo" nillable="true" type="tns:virtualiseringsInfoType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="hamtaAllaAnropsBehorigheter" nillable="true" type="xs:anyType"/>
            <xs:element name="hamtaAllaAnropsBehorigheterResponse" nillable="true" type="tns:hamtaAllaAnropsBehorigheterResponseType"/>
            <xs:element name="hamtaAllaVirtualiseringar" nillable="true" type="xs:anyType"/>
            <xs:element name="hamtaAllaVirtualiseringarResponse" nillable="true" type="tns:hamtaAllaVirtualiseringarResponseType"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="hamtaAllaVirtualiseringarResponse">
        <wsdl:part element="tns:hamtaAllaVirtualiseringarResponse" name="response"/>
    </wsdl:message>
    <wsdl:message name="hamtaAllaAnropsBehorigheterResponse">
        <wsdl:part element="tns:hamtaAllaAnropsBehorigheterResponse" name="response"/>
    </wsdl:message>
    <wsdl:message name="hamtaAllaVirtualiseringar">
        <wsdl:part element="tns:hamtaAllaVirtualiseringar" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="hamtaAllaAnropsBehorigheter">
        <wsdl:part element="tns:hamtaAllaAnropsBehorigheter" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="SokVagvalsInfoInterface">
        <wsdl:operation name="hamtaAllaAnropsBehorigheter">
            <wsdl:input message="tns:hamtaAllaAnropsBehorigheter" name="hamtaAllaAnropsBehorigheter"/>
            <wsdl:output message="tns:hamtaAllaAnropsBehorigheterResponse" name="hamtaAllaAnropsBehorigheterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="hamtaAllaVirtualiseringar">
            <wsdl:input message="tns:hamtaAllaVirtualiseringar" name="hamtaAllaVirtualiseringar"/>
            <wsdl:output message="tns:hamtaAllaVirtualiseringarResponse" name="hamtaAllaVirtualiseringarResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SokVagvalsServiceSoap11LitDocServiceSoapBinding" type="tns:SokVagvalsInfoInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="hamtaAllaAnropsBehorigheter">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="hamtaAllaAnropsBehorigheter">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="hamtaAllaAnropsBehorigheterResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hamtaAllaVirtualiseringar">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="hamtaAllaVirtualiseringar">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="hamtaAllaVirtualiseringarResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SokVagvalsServiceSoap11LitDocService">
        <wsdl:port binding="tns:SokVagvalsServiceSoap11LitDocServiceSoapBinding" name="SokVagvalsSoap11LitDocPort">
            <soap:address location="http://rtp-a-a03.i.centrera.se:8080/tp-vagval-admin-services/SokVagvalsInfo/v2"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
