test/functional/soapui/GetAlertInformation/constraints.xml

<?xml version="1.0" encoding="utf-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
to you under the Apache License, Version 2.0 (the
        "License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
-->
<iso:schema
        xmlns="http://purl.oclc.org/dsdl/schematron"
        xmlns:iso="http://purl.oclc.org/dsdl/schematron"
        queryBinding='xslt2'
        schemaVersion='ISO19757-3'>

    <iso:title>Validation for GetAlertInformation</iso:title>
    <iso:ns prefix='urn1' uri='urn:riv:clinicalprocess:healthcond:description:2'/>
    <iso:ns prefix='urn' uri='urn:riv:clinicalprocess:healthcond:description:GetAlertInformationResponder:2'/>

    <iso:pattern abstract="true" id="pattern.CvType">
        <iso:rule context="$path">
            <iso:assert test="count(urn1:code) + count(urn1:originalText) = 1">
                In $path, either code or originalText must be given.</iso:assert>
        </iso:rule>

        <iso:rule context="$path/urn1:code">
            <iso:assert test="count(../urn1:codeSystem) + count(../urn1:displayName) = 2">
                In $path if <iso:name/> is given, codeSystem and displayName must be given.</iso:assert>
            <iso:assert test="count(../urn1:originalText)= 0">
                In $path if <iso:name/> is given, originalText must not be given.</iso:assert>
        </iso:rule>
        <iso:rule context="$path/urn1:codeSystem">
            <iso:assert test="count(../urn1:code) + count(../urn1:displayName) = 2">
                In $path if <iso:name/> is given, code and displayName must be given.</iso:assert>
            <iso:assert test="count(../urn1:originalText)= 0">
                In $path if <iso:name/> is given, originalText must not be given.</iso:assert>
        </iso:rule>
        <iso:rule context="$path/urn1:displayName">
            <iso:assert test="count(../urn1:code) + count(../urn1:codeSystem) = 2">
                In $path if <iso:name/> is given, code and codeSystem must be given.</iso:assert>
            <iso:assert test="count(../urn1:originalText)= 0">
                In $path if <iso:name/> is given, originalText must not be given.</iso:assert>
        </iso:rule>
        <iso:rule context="$path/urn1:originalText">
            <iso:assert test="count(../urn1:code) + count(../urn1:codeSystem) + count(../urn1:displayName) = 0">
                In $path if <iso:name/> is given, code, codeSystem and displayName must not be given.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <!-- Rules for Response -->
    <iso:pattern id="Verify healthcareProfessionalRoleCode" is-a="pattern.CvType">
        <iso:param name="path" value="urn1:healthcareProfessionalRoleCode" />
    </iso:pattern>

    <iso:pattern id="Verify typeOfAlertInformation" is-a="pattern.CvType">
        <iso:param name="path" value="urn1:typeOfAlertInformation" />
    </iso:pattern>

    <iso:pattern id="Verify typeOfHypersensitivity" is-a="pattern.CvType">
        <iso:param name="path" value="urn1:typeOfHypersensitivity" />
    </iso:pattern>

    <iso:pattern id="Verify degreeOfSeverity" is-a="pattern.CvType">
        <iso:param name="path" value="urn1:degreeOfSeverity" />
    </iso:pattern>

    <iso:pattern id="Verify degreeOfCertainty" is-a="pattern.CvType">
        <iso:param name="path" value="urn1:degreeOfCertainty" />
    </iso:pattern>

    <iso:pattern id="Verify atcSubstance" is-a="pattern.CvType">
        <iso:param name="path" value="urn1:atcSubstance" />
    </iso:pattern>

    <iso:pattern id="Verify pharmaceuticalProductId" is-a="pattern.CvType">
        <iso:param name="path" value="urn1:pharmaceuticalProductId" />
    </iso:pattern>

    <iso:pattern id="Verify hypersensitivityAgentCode" is-a="pattern.CvType">
        <iso:param name="path" value="urn1:hypersensitivityAgentCode" />
    </iso:pattern>

    <iso:pattern id="Verify disease" is-a="pattern.CvType">
        <iso:param name="path" value="urn1:disease" />
    </iso:pattern>

    <iso:pattern id="Verify treatmentCode" is-a="pattern.CvType">
        <iso:param name="path" value="urn1:treatmentCode" />
    </iso:pattern>

    <iso:pattern id="Verify pharmaceuticalTreatment" is-a="pattern.CvType">
        <iso:param name="path" value="urn1:pharmaceuticalTreatment" />
    </iso:pattern>

    <iso:pattern id="Verify communicableDisease" is-a="pattern.CvType">
        <iso:param name="path" value="urn1:communicableDisease/urn1:communicableDisease" />
    </iso:pattern>

    <iso:pattern id="Verify routeOfTransmission" is-a="pattern.CvType">
        <iso:param name="path" value="urn1:routeOfTransmission" />
    </iso:pattern>

    <iso:pattern id="Verify typeOfAlertInformationRelationship" is-a="pattern.CvType">
        <iso:param name="path" value="urn1:typeOfAlertInformationRelationship" />
    </iso:pattern>

    <iso:pattern id="Verify alertInformationHeader">
        <iso:rule context="urn1:alertInformationHeader">
            <iso:assert test="count(urn1:nullified) = 0"><iso:name /> must not contain nullified element.</iso:assert>
            <iso:assert test="count(urn1:nullifiedReason) = 0"><iso:name /> must not contain nullifiedReason element.</iso:assert>
            <iso:assert test="count(urn1:documentTime) = 0"><iso:name /> must not contain documentTime element.</iso:assert>
            <iso:assert test="count(urn1:documentTitle) = 0"><iso:name /> must not contain documentTitle element.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <iso:pattern id="Verify alertInformationBody">
        <iso:rule context="urn1:alertInformationBody">
            <iso:assert test="count(urn1:hypersensitivity) + count(urn1:seriousDisease) + count(urn1:treatment) + count(urn1:communicableDisease) + count(urn1:restrictionOfCare) + count(urn1:unstructuredAlertInformation) = 1">
                In <iso:name /> exactly one of hypersensitivity, seriousDisease, treatment, communicableDisease, restrictionOfCare and unstructuredAlertInformation must be supplied.</iso:assert>
            <iso:assert test="count(urn1:validityTimePeriod/urn1:start) = 1">
                In <iso:name /> validityTimePeriod/urn1:start must be supplied.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <iso:pattern id="Verify pharmaceuticalHypersensitivity">
        <iso:rule context="urn1:pharmaceuticalHypersensitivity">
            <iso:assert test="count(urn1:atcSubstance) + count(urn1:nonATCSubstance) = 1">
                In <iso:name /> exactly one of atcSubstance and nonATCSubstance must be supplied.</iso:assert>
            <iso:assert test="count(urn1:atcSubstance) + count(urn1:nonATCSubstanceComment) = 1">
                In <iso:name /> exactly one of atcSubstance and nonATCSubstanceComment must be supplied.</iso:assert>
            <iso:assert test="(count(urn1:atcSubstance) = 1) or (count(urn1:nonATCSubstance) + count(urn1:nonATCSubstanceComment) = 2)">
                In <iso:name /> either atcSubstance or both nonATCSubstance and nonATCSubstanceComment must be supplied.</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern id="Verify result">
        <iso:rule context="urn:result">
            <iso:assert test="count(urn1:resultCode) = 1"><iso:name /> must contain exactly one resultCode element.</iso:assert>
            <iso:assert test="count(urn1:logId) = 1"><iso:name /> must contain exactly one logId element.</iso:assert>
        </iso:rule>
    </iso:pattern>
</iso:schema>
